 @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* 
Common CSS
--------------------*/
 body{
	font-family: var(--body_font_family);
	font-size: var(--body_font);
	font-weight: 500;
	color: var(--body_text);
	font-weight: 400;
	line-height: 26px;
 }

 :root {
  --body_font: 16px;
  --body_font_family:'Hanken Grotesk', sans-serif;
  --heading_font_family: 'Plus Jakarta Sans', sans-serif;
  --primary_color:#5E43FF;
  --secondary_color:#FFD172;
  --heading_color: #050213;
  --white:#fff;
  --black:#000;
  --body_text:#6B6B6B;
}

 h1, h2, h3, h4, h5, h6{
    font-family: var(--heading_font_family);
	font-weight: 700;
	color:var(--heading_color)
 }

 .section_padding{
	padding: 80px 0;
 }

 
.section_title h4 {
  color: var(--primary_color);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}
.section_title h2 {
  font-size: 56px;
  font-weight: 700;
  color: var(--heading_color);
  text-align: ;
  text-transform: capitalize;
  line-height: 66px;
}


/* 
Header Area CSs
--------------------*/
.header_area {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9;
}
.header_top_area {
	background: #322580;
	padding: 20px 0;
	
}
.header_menu_area .main_menu {
	text-align: center;
	background-color: #fff;
	padding: 8px;
	border-radius: 5px;
}


.header_menu_area {
	margin-top: 15px;
	padding: 15px 0;
}
  .header_menu_area .main_menu ul {
	margin: 8px 0;
	padding: 0;
	list-style: none;
}
  .header_menu_area .main_menu ul li {
	display: inline-block;
  }
  .header_menu_area .main_menu ul a {
	text-decoration: none;
	color: #03111E;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Hanken Grotesk', sans-serif;
	padding: 10px 16px;
}
.header_menu_area .main_menu ul a:hover {
	transition: .3s ease-in-out;
	background: #F0EEFF;
	color: #5E43FF;
}

  .header_menu_area.header-sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	width: 100%;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	z-index: 999;
	margin-top: 0;
}

/* 
Header CTA Area
--------------------*/

.header_cta .icon {
	background: #fff;
	font-size: 18px;
	padding: 14px 20px;
	border-radius: 10px;
	display: inline-block;
	color: #000;
	margin-right: 16px;
	box-shadow: 0 0 5px #ddd;
  }


  .webrito-btn {
	text-decoration: none;
	color: #fff;
	background: #5E43FF;
	padding: 13px;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	padding-left: 32px;
	display: inline-block;
}
 

  .webrito-btn i {
	background: #fff;
	color: #5E43FF;
	padding: 10px;
	border-radius: 5px;
	margin-left: 15px;
}
.webrito-btn.bg_white_bordered {
	background: var(--white);
	color: var(--heading_color);
	border: 2px solid var(--primary_color);
}

.webrito-btn.bg_white_bordered i {
	background: var(--primary_color);
	color: var(--white);
}
/* 
Hero Area Css 
--------------------*/
.hero_area {
	background: #F5F1EE;
	padding-top: 237px;
	padding-bottom: 200px;
}

  
  .hero_content_lft h2 {
	font-size: 95px;
	font-weight: 700;
	line-height: 115px;
	margin-bottom: 84px;
}
  .hero_content_lft h2 span {
	color: var(--primary_color);
  }

  .hero_content_lft .webrito-btn {
	
	margin-right: 15px;
}

/* 
Service Slider
--------------------*/
.section_padding.service_slider_area {
	padding-top: 0;
	margin-top: -94px;
}
.brand_service_slider .single_brand_service_slider{
	animation: marquee 10s linear infinite;
}
@keyframes marquee {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(-100%);
	}
  }
  
.single_brand_service_slider h2 {
	font-size: 22px;
	text-align: center;
	background: var(--secondary_color);
	padding: 35px 56px;
	border-radius: 57px;
	display: inline-block;
	position: relative;
	transition: .3s all;
}



.brand_service_slider.slick-initialized.slick-slider {
	text-align: center;
	
}

.single_brand_service_slider h2 i {
	position: absolute;
	right: -30%;
	background: var(--secondary_color);
	padding: 35px;
	top: 0;
	border-radius: 57px;
	transition: .3s all;
}
.single_brand_service_slider h2:hover i{
background: var(--heading_color);
}


  .single_brand_service_slider h2:hover {
	background: var(--heading_color);
	color: var(--white);
}


/* 
Service Area Accordian
--------------------*/
.single_accordion h2 {
	font-size: 32px;
	font-weight: 700;
	color: var(--heading_color);
	line-height: 44px;
	position: relative;
  }
  .single_accordion {
	padding: 24px 12px;
	background: #CCF4EC;
	margin-bottom: 32px;
	border-radius: 24px;
	padding-left: 128px;
	padding-right: 36px;
	color: var(--heading_color);
}
.single_accordion:nth-child(n+1){
	box-shadow: 9px 10px #7CCABA;
}
.single_accordion:nth-child(n+2){
	box-shadow: 9px 10px #F68187;
	background: #FFD6D8;
}
.single_accordion:nth-child(n+3){
	box-shadow: 9px 10px #7BB1CE;
	background: #D6F0FE;
}
.single_accordion:nth-child(n+4){
	box-shadow: 9px 10px #F9D989;
	background: #FFECBC;
}

.read_more_btn {
	color: var(--heading_color);
	font-weight: 600;
	font-size: 28px;
}

  .single_accordion h2 i {
	position: absolute;
	left: -18%;
	top: -15%;
	background: var(--white);
	padding: 20px;
	border-radius: 16px;
	font-size: 20px;
}


.service_content_right {
	padding-left: 65px;
  }
  .service_content_right h4 {
	font-size: 18px;
	font-weight: 600;
	color: var(--primary_color);
	text-transform: capitalize;
	line-height: 30px;
  }
  .service_content_right h2 {
	font-size: 56px;
	font-weight: 600;
	line-height: 68px;
	color: var(--heading_color);
	margin-bottom: 48px;
  }

  

  .play_btn {
	background-size: cover;
	background-position: center left;
	background-repeat: no-repeat;
	padding: 5px 11px;
	border-radius: 50px;
	position: relative;
}
  .play_btn i {
	background: var(--secondary_color);
	height: 64px;
	width: 64px;
	line-height: 64px;
	text-align: center;
	font-size: 20px;
	color: var(--heading_color);
	border-radius: 50px;
	position: ;
  }
  .play_btn a {
	margin-left: 148px;
}


/* 
Counter Area
--------------------*/


.row.counter_wrapper {
	padding: 30px;
	background: #F0EEFF;
	border: 3px solid #BFBBE4;
	box-shadow: 5px 7px 0 #BFBBE4;
	border-radius: 24px;
  }
  .counter_content {
	text-align: center;
  }
  .counter_wrap {
	background: #5E43FF;
	padding: 32px;
	border-radius: 16px;
  }
  .counter_wrap p {
	color: #fff;
	opacity: .7;
	line-height: 25px;
  }
  .single_counter_item {
	text-align: center;
  }
  .single_counter_item h2 {
	color: var(--white);
	font-weight: 700;
	font-size: 52px;
}

.counter_content {
	display: table-cell;
	vertical-align: middle;
}

  .counter_content h2 {
	font-size: 48px;
	font-weight: 700;
	color: var(--black);
	text-transform: capitalize;
	line-height: 52px;
  }
  .counter_content a {
	font-size: 24px;
	color: var(--primary_color);
	font-weight: 600;
	line-height: 38px;
}



/* 
Project Css
--------------------*/
.single_project_slider_item img {
	max-width: 100%;
}

.project_slider_area {
	padding: 64px 0;
  }
  .single_project_slider_item {
  }
  .single_slider_content {
	padding: 32px 40px;
	border: 1px solid #E7ECF0;
	border-radius: 16px;
	margin-bottom: 24px;
}
  .single_slider_content p {
	margin: 22px 0;
  }
  .single_slider_content.bottom_content {
	margin-bottom: 0;
	margin-top: 24px;
}

.single_project_slider_item{
	animation: project 30s linear infinite;
}
@keyframes project {
	0% {
	  transform: translateX(-100%);
	}
	100% {
	  transform: translateX(100%);
	}
  }
  



/* 
WR: CTA Area
--------------------*/



  .section_padding.CTA_area {
	background: var(--primary_color);
	color: var(--white);
	padding-bottom: 0;
	padding-top: 47px;
  }
  .cta_content_left h2 {
	font-size: 32px;
	font-weight: 700;
	color: var(--white);
	line-height: 44px;
  }
  .cta_content_right {
	display: table-cell;
	vertical-align: middle;
}
  .cta_content_right p {
	opacity: .8;
	border-bottom: 1px solid var(--white);
	padding-bottom: 47px;
  }
  .cta_content_right h2 {
	color: var(--white);
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
  }
  .cta_content_right h2 span {
	display: block;
	font-size: 18px;
	font-weight: 400;
	opacity: .8;
	margin-top: -7px;
}

  .webrito-btn.white_border {
	border: 2px solid var(--white);
	margin-top: 40px;
  }
  .cta_content_left {
	display: table-cell;
	vertical-align: middle;
  }










/* 
WR: About Us
--------------------*/

.about_img {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}
  .about_img .imge_blend {
	position: absolute;
	left: 0;
	r0: ;
	right: 0;
	mix-blend-mode: color-burn;
  }
.about_img img {
	max-width: 100%;
  }

  .about_area_content .section_title {
	margin-bottom: 40px;
  }
  .about_area_content {
	padding-left: 40px;
  }
  
.single_about_area_content {
	background: #F4F0ED;
	padding: 24px;
	position: relative;
	padding-left: 80px;
	margin-bottom: 19px;
	border-radius: 6px;
	transition: .3s all;
  }
  .single_about_area_content h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 34px;
  }
  .single_about_area_content i {
	position: absolute;
	left: 3%;
	top: 13%;
	color: var(--primary_color);
	font-size: 40px;
  }
  .single_about_area_content a {

	text-decoration: none;
	color: var(--primary_color);
	font-weight: 400;
	line-height: ;
	font-size: 16px;
	line-height: 26px;
  }
  .single_about_area_content:hover {

	background: var(--white);
	box-shadow: 0px 20px 68px 0px rgba(5, 2, 19, 0.15);
  }

/* 
Testimonial Slider
--------------------*/

.single_testimonial_slider {
	background: #FFF;
	margin: 9px;
	padding: 32px;
	border-radius: 16px;
}

.single_testimonial_slider p {
	text-align: justify;
	margin: 24px 0;
  }
  .section_padding.testimonial_area {
	background: var(--secondary_color);
  }
  .testimonial_slider_area_one {
	margin-bottom: 20px;
	
  }
.testimonial_slider_area_one .single_testimonial_slider{
	animation: marquee 30s linear infinite;
}
.testimonial_slider_area_two .single_testimonial_slider{
	animation: marquee_right 30s linear infinite;
}
  .testimonail_author_area h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
  }
  .testimonail_author_area h3 span {
	display: block;
	font-size: 16px;
	font-weight: 400;
	color: var(--body_text);
  }
  .testimonail_author_area img {
	position: absolute;
	left: 0;
	top: 0;
	border: ;
	border-radius: 50px;
}
  .testimonail_author_area {
	position: relative;
	padding-left: 80px;
	
  }
  @keyframes marquee_right {
	0% {
	  transform: translateX(-100%);
	}
	100% {
	  transform: translateX(100%);
	}
  }

  /* 
WR: Utilize Tools CSS
--------------------*/
.section_padding.utilize_tool_area {
	padding-top: 160px;
	padding-bottom: 350px;
}
.utitlize_wrap {
	margin-top: 55px;
	gap: 16px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.utitlize_wrap .single_utilize {
	padding: 12px 32px 12px 12px;
	border-radius: 37px;
	background: #f4f0ed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 16px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
}
.utitlize_wrap .single_utilize .utilize_img {
	width: 45px;
	height: 45px;
	flex-shrink: 1;
	border-radius: 50%;
	background: white;
	box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.1);
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.utitlize_wrap .single_utilize:hover {
	background: var(--primary_color);
}
.utitlize_wrap .single_utilize .utilize_tag p {
	font-size: 20px;
	font-weight: 600;
	transition: 0.4s;
	margin: 0;
}
.utitlize_wrap .single_utilize:hover .utilize_tag p {
	color: white;
	cursor: pointer;
}
.utilize_hover {
	top: 116%;
	width: 750px;
	padding: 28px 30px;
	border-radius: 16px;
	background: var(--white);
	box-shadow: 0px -2px 120px rgba(5, 2, 19, 0.1);
	gap: 30px;
	left: -50%;
	visibility: hidden;
	opacity: 0;
	transition: 0.4s ease-in;
	z-index: 3;
	position: absolute;
	display: flex;
}
.utitlize_wrap .single_utilize:hover .utilize_hover {
	visibility: visible;
	opacity: 1;
	top: 115%;
}
.utilize_hover .hover_content h4 {
	color: var(--heading_color);
	font-weight: 700;
	line-height: 140%;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 32px;
}
.utilize_hover .hover_img {
	width: 110px;
	height: 110px;
	background: #f0eeff;
	border-radius: 24px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}
.utilize_hover .hover_img span {
	width: 64px !important;
	height: 64px !important;
}

  /* 
WR: Award CSS
--------------------*/
.section_padding.awared_area {
	background: linear-gradient(#F4F0ED, #F4F0ED00, #F4F0ED);
	
}
.single_awared_item img {
	max-width: 100%;
	opacity: .5;
	transition: .3s all;
  }
  .single_awared_item{
	animation: marquee_right 15s linear infinite;
  }
  
  .single_awared_item img:hover {
	opacity: 1;
  }
  .awared_text {
	text-align: center;
	margin-top: 60px;
	font-size: 18px;
	font-weight: 400;
}
  
.awared_text p span {
	color: var(--primary_color);
	text-decoration: underline;
  }

 









  /* 
WR: Working Process CSS
--------------------*/

.single_content_item {
	width: 358px;
	padding: 40px;
	text-align: center;
	background: #CCF4EC;
	border-radius: 16px;
	box-shadow: 9px 9px 0 #81CDBE;
	position: relative;
	color: var(--heading_color);
	font-weight: 400;
}
  .working_step {
	gap: 99px;
	position: relative;
	row-gap: 158px;
	margin-top: 64px;
  }
  .working_step:after {
	position: absolute;
	left: 0;
	width: 100%;
	content: "";
	background: #E7ECF0;
	height: 2px;
	top: 50%;
	z-index: -1;
  }
.work_circle.circlet_top {
	bottom: auto;
	top: -27%;
  }

  
  .work_circle {
	position: absolute;
	left: 50%;
	bottom: -27%;
}

.work_circle span {
	background: #81CDBE;
	height: 24px;
	width: 24px;
	display: block;
	border-radius: 50px;
	margin-top: 9px;
}
.work_circle.circlet_top span {
	margin-top: auto;
}

  
.single_content_item h4 {
	height: 80px;
	width: 80px;
	background: var(--white);
	line-height: 80px;
	text-align: center;
	display: inline-block;
	border-radius: 50px;
	font-size: 32px;
	font-weight: 700;
	color: #81CDBE;
  }
  .single_content_item h2 {
	font-size: 32px;
	font-weight: 700;
	line-height: 42px;
	margin-top: 24px;
	margin-bottom: 16px;
  }

  
  .work_circle.circlet_top span {
	margin-top: auto;
	margin-bottom: 9px;
}
  .single_content_item.single_bg1 {
	background: #FFECBC;
	box-shadow: 9px 9px 0 #DDB757;
  }
  .single_content_item.single_bg1 h4 {
	background: ;
	color: #DDB757;
  }
  .single_content_item.single_bg2 {
	background: #D6F0FE;
	box-shadow: 9px 9px 0 #6BA9CB;
  }
  .single_content_item.single_bg3 {
	background: #D7D0FF;
	box-shadow: 9px 9px #7366C0;
  }
  .single_content_item.single_bg3 h4 {
	color: #7366C0;
  }
  .single_content_item.single_bg4 {
	background: #FFD6D8;
	box-shadow: 9px 9px #DE9B9F;
  }
  .single_content_item.single_bg4 h4 {
	color: #DE9B9F;
  }
  .single_content_item.single_bg1 .work_circle span {
	background: #DDB757;
  }
  .single_content_item.single_bg2 .work_circle span {
	background: #6BA9CB;
  }
  .single_content_item.single_bg3 .work_circle span {
	background: #7366C0;
  }
  .single_content_item.single_bg4 .work_circle span {
	background: #DE9B9F;
  }
  .single_content_item.single_bg4{
	animation: single_bg 5s linear infinite;
  }

  @keyframes single_bg {
    0% {
        transform: rotate(10);
    }
    25% {
        transform: rotate(-10deg);
    }
}


  /* 
WR: Why Choose CSS
--------------------*/
  

.why_message_box {
	height: 100vh;
	background: var(--primary_color);
	text-align: center;
	padding: 64px 42px;
	border-radius: 16px;
	margin-right: 16px;
  }
  .why_message_box h2 {
	font-size: 56px;
	color: var(--white);
	font-weight: 700;
	line-height: 66px;
	border-radius: ;
  }
  .why_box_content {
	margin-top: 72px;
  }
  .single_box_content h2 {
	font-size: 24px;
	color: ;
	line-height: 34px;
	font-weight: 700;
  }
  .single_box_content {
	border-bottom: 1px solid #E7ECF0;
	margin-bottom: 30px;
	padding-bottom: 16px;
  }



/* 
WR: CTA Area Css
--------------------*/

.section_padding.cta_consulting_area {
	background-color: #7066A9;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
  .cta_consulting_content {
	text-align: center;
  }
  .cta_consulting_content h4 {
	color: var(--secondary_color);
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
  }
  .cta_consulting_content h2 {
	font-size: 56px;
	color: var(--white);
	font-weight: 700;
	font-weight: 700;
	margin-bottom: 50px;
  }

  .webrito-btn.cta_btn {
	background: var(--secondary_color);
	color: var(--heading_color);
  }
  .webrito-btn.cta_btn i {
	color: var(--heading_color);
  }



/* 
WR: Faq Area CSS
--------------------*/
.faq_area_tab_content .nav {
	border-radius: 16px;
	margin-right: 50px;
	position: relative;
	height: 100vh;
	width: 26%;
}
.tab_list {
	background: #F4F0ED;
	border-radius: 16px;
}
  .faq_area_tab_content button {
	font-size: 24px;
	font-weight: 600;
	color: var(--heading_color);
	padding: 22px 42px;
  }
  .faq_area_tab_content {
	margin-top: 64px;
  }
  .faq_area_tab_content .nav-link.active {
	background: var(--secondary_color);
	color: var(--heading_color);
	display: block;
	width: 100%;
	text-align: left;
}
.faq_area_tab_content .tab_list .nav-link {
	width: 100%;
	text-align: left;
}
  .faq_area_tab_content button.nav-link:hover {
	color: var(--primary_color);
}


.single_faq_tab_content {
	background: #F4F0ED;
	padding: 25px 32px;
	margin-bottom: 32px;
	border-radius: 16px;
  }
  .single_faq_tab_content.accordion-item:first-of-type {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}
  .single_faq_tab_content button {
	font-size: 32px;
	font-weight: 700;
	line-height: 42px;
	background: transparent;
	padding: 0;
	color: var(--heading_color);
}
.single_faq_tab_content:not(.collapsed){
	box-shadow: 9px 9px 0 #D9CDC5;

}
.single_faq_tab_content .accordion-button:not(.collapsed){
	color: var(--primary_color);
}
.single_faq_tab_content .accordion-button:not(.collapsed){
	background-color: transparent;
}
.single_faq_tab_content .accordion-button:focus{
	border-color:transparent;
	box-shadow: none;
}


.faq_area_tab_content .tab-content {
	width: 73%;
}
.single_faq_tab_content  .accordion-body {
	padding-left: 0;
	padding-right: 0;
	text-align: justify;
}

.chat_area {
	position: absolute;
	left: 0;
	bottom: 0;
	background: var(--primary_color);
	padding: 60px 29px;
}
.chat_area h2 {
	font-size: 32px;
	color: var(--white);
	font-weight: 700;
	line-height: 42px;
}

/* 
WR: Blog Area css
--------------------*/

.section_padding.latest_blog_area {
	background: #F4F0ED;
  }
  .single_blog_conent {
	margin-top: 42px;
  }
  .single_blog_conent img {
	max-width: 100%;
	border-radius: 16px;
  }
  .single_blog_conent {
	background: var(--white);
	padding: 15px;
	border-radius: 16px;
	transition: .3s all;
  }
  
.blog_content h2 {
	font-size: 29px;
	line-height: 39px;
	margin: 16px 0;
  }
  .blog_content h2 a {
	color: var(--heading_color);
	text-decoration: none;
  }
  .blog_content {
	padding: 15px;
  }
  .blog-tag {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  .blog-tag li {
	display: inline-block;
	margin-right: 40px;
  }
  
.blog-tag i {
	color: var(--primary_color);
	font-size: 16px;
	margin-right: 8px;
  }
  .blog_content .read-more-btn {
	font-size: 18px;
	text-decoration: none;
	color: var(--black);
	font-weight: 600;
	line-height: 28px;
	margin-right: ;
  }
  .blog_content .read-more-btn i {
	margin-left: 12px;
	background: ;
	border: 1px solid var(--primary_color);
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50px;
	font-size: 16px;
	color: var(--primary_color);
	transition: .3s all;
  }
  .single_blog_conent:hover {
	box-shadow: 9px 9px 0 #E2D3C8;
  }
  .single_blog_conent:hover .blog_content .read-more-btn i{
	background: var(--primary_color);
	color: var(--white);
  }

/* 
WR: Contact Area CSS
--------------------*/

.contact_boxes {
	display: flex;
	margin-top: 48px;
  }
  .single_contact_box {
	padding: 32px;
	background: #CCF4EC;
	margin-right: 24px;
	width: 40%;
	border-radius: 16px;
  }
  .single_contact_box i {
	background: var(--white);
	height: 56px;
	width: 56px;
	line-height: 56px;
	text-align: center;
	font-size: 21px;
	border-radius: 8px;
	color: #52E0BF;
	margin-bottom: 24px;
  }
  .single_contact_box p {
	font-size: 24px;
	font-weight: 600;
	line-height: 34px;
	color: var(--heading_color);
  }
  .single_contact_box.bg_white {
	background: #FFD6D8;
  }
  .single_contact_box.bg_white i {
	color: #FF6584;
  }

  .contact_form_area {
	background: #F4F0ED;
	padding: 48px;
	border-radius: 16px;
	box-shadow: 9px 9px 0 #E0CAB9;
}
  .contact_form_area input {
	padding: 18px 24px;
	background: var(--white);
	border: none;
	border-radius: 8px;
	margin-bottom: 24px;
	width: 45%;
	margin-right: 24px;
	display: inline-block;
  }
  .contact_form_area input[type=tel] {
	margin-right: 0;
  }
  .contact_form_area textarea {
	border: none;
	width: 100%;
	padding: 18px 24px;
	border-radius: 8px;
  }
  .contact_form_area button {
	display: block;
	width: 100%;
	background: #5E43FF;
	color: var(--white);
	font-size: 18px;
	line-height: 28px;
	padding: 19px 0;
	margin-top: 24px;
	margin-bottom: 32px;
	border-radius: 8px;
	border: none;
  }
  .contact_form_area:focus {
	outline: 1px solid var(--primary_color);
  }
  
.contact_form_area p input {
	width: auto;
	margin: 0;
  }
  .contact_form_area p {
	margin-bottom: 0;
  }

 










/* 
Footer CSS
--------------------*/
  .section_padding.footer_bg {
	background: #322580;
	color: #fff;
	padding-top: 160px;
}

.footer_left_content h2 {
	font-size: 42px;
	font-weight: 700;
	line-height: 54px;
	margin-bottom: 80px;
}
.footer_sbuscription_from h2 {
	color: var(--White, #FFF);
	font-family: Plus Jakarta Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 44px;
	margin-bottom: 10px;
}

.footer_sbuscription_from input {
	display: inline-block;
  }
  .footer_sbuscription_from input[type="email"] {
	width: 70%;
	padding: 11px 20px;
	border-radius: 50px;
	background: transparent;
	color: var(--white);
	border: 1px solid #fff;
}
  
  .footer_sbuscription_from input:focus {
	outline: none;
  }
  .footer_sbuscription_from input[type="submit"] {
	width: 35%;
	font-size: 13px;
	padding: 15px 14px;
	border-radius: 50px;
	margin-left: -57px;
	border: none;
	color: var(--heading_color);
	background: var(--secondary_color);
	font-weight: 600;
}

.footer_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  .footer_menu li {
	margin-bottom: 24px;
  }

  .footer_menu li a {
	text-decoration: none;
	color: var(--white);
	font-size: 16px;
	font-weight: 400;
	transition: .3s all;
}
.footer_menu li a:hover {
	padding-left: 3px;
	transition: 0.3s ease-in-out;
	opacity: .7;
}


.footer_social_icon i {
	background: #fff;
	color: #322580;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	border: ;
	border-radius: 50px;
	font-size: 16px;
	margin-right: 16px;
	transition: .3s all;
	cursor: pointer;
}
.footer_social_icon i:hover{
	background: var(--secondary_color);
}
  .footer_social_icon {
	margin-bottom: 30px;
  }

  .footer_contact_area h2 {
	font-size: 32px;
	margin-bottom: 32px;
	font-weight: 700;
	line-height: 44px;
  }

  .footer_area h2, .footer_area h3 {
	color: var(--white);
}

  
.footer_single_contact_info h3 {
	position: relative;
	font-size: 24px;
	font-weight: 700;
	text-align: left;
	padding-left: 17%;
  }
  .footer_single_contact_info h3 span {
	color: var(--white);
	opacity: .7;
	display: block;
	font-size: 16px;
	margin-top: 9px;
  }
  .footer_single_contact_info h3 i {
	position: absolute;
	left: 0;
	top: 0;
	background: var(--secondary_color);
	height: 56px;
	width: 56px;
	line-height: 56px;
	text-align: center;
	border-radius: 28px;
	font-size: 18px;
	color: var(--heading_color);
  }
  .footer_single_contact_info {
	margin-bottom: 32px;
  }

  .footer_single_contact_info h3 p {
	font-size: 20px;
	line-height: 29px;
  }